/* CSS para Miniatura */
.miniatura-container {
    width: 100%;
    background-color: #60BDB1;
    border: 10px solid #769E33;
    padding: 20px;
}

.miniatura-grupo-1 {
    width: 100%;
    max-width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 5px;
    background-color: #f7f7f7;
}

.miniatura-dropzone {
    margin-top: 150px;
}

.miniatura-info {
    margin-top: 30px;
}

.miniatura-selectFile {
    margin-bottom: 20px;
}

.miniatura-selectFile label {
    display: block;
    background-color: #60BDB1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.miniatura-selectFile input[type="file"] {
    display: none;
}

/*botones de seleccionar archivo*/
.selectFile label {
    display: block; 
    background-color: #60BDB1; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
}

.selectFile input[type="file"] {
    display: none; /* Ocultar el input de tipo file */
}

.selectFile {
    margin-bottom: 20px; 
}


  