.column-3 {
    width: 100%; 
    height: auto;
    margin-left: 22%;
    margin-bottom: 15%;
}

.content-container {
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px 40px 10px 40px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.content-container button {
    padding: 5px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}


#boton-eliminar {
    padding: 10px 20px;
    color: white;
    background-color: #D75E24;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


#boton-eliminar:hover {
    background-color: #c6cbd1;
}

.content-container button:hover,
.alumnos button:hover {
    background-color: #c6cbd1;
}

.content-container button:hover {
    background-color: #c6cbd1;
}

@media screen and (max-width: 768px) {
    .content-container {
        margin-top: 50px; 
        margin-left: 10px; 
        margin-right: 10px; 
        padding: 10px;
    }
}