.card-containerHA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 0;
    margin-left: -10vw;
    padding: 1px;
    height: 90%;
    width: 60%;
    margin-top: 2%;
    background-color: var(--body-color); /* Asegúrate de definir la variable --body-color */
}

.cardHA.card-with-imageHA {
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 1 1 350px; /* Cambiado para permitir que los elementos se ajusten correctamente */
    max-width: 350px;
    height: 550px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(231, 226, 226);
    box-shadow: 0 0 10px #009A88;
    border-radius: 8px;
    text-align: center;
}

.card-image-containerHA {
    border-radius: 50%;
    overflow: hidden;
    width: 150px; /* Ajustado para que sea un círculo perfecto */
    height: 150px; /* Ajustado para que sea un círculo perfecto */
    margin: 0 auto 5px;
}

.card-image-containerHA img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #60BDB1;
}

.card-contentHA {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    color: #666;
    text-align: center;
}

.card-contentHA i {
    transform: scale(1.5);
    margin-bottom: 15px;
    color: #009A88;
}

.cardHA h2 {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #333;
}

.cardHA p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
    color: #666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
    border-radius: 50px;
}

.cardHA a {
    margin-top: 5%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
    border-radius: 50px;
}

.modificar-datosHA {
    margin-top: 15%;
    width: 70%;
    height: 5vh;
    color: #fff;
    background-color: #60BDB1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
    border: 2px solid #0492D0;
    border-radius: 50px;
    transition: 150ms ease-out;
}

.modificar-datosHA:hover {
    background-color: #009A88;
    transform: scale(1.1);
    transition: 150ms ease-in;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .cardHA {
        flex: 1 1 calc(100% - 20px); /* Ajustado para que ocupe todo el ancho disponible con margen */
        margin: 10px 0; /* Cambiado para que el margen sea consistente en dispositivos más pequeños */
    }

    .cardHA.card-with-imageHA {
        width: calc(100% - 20px); /* Ajustado para que ocupe todo el ancho disponible con margen */
    }
}