/*Formulario zona central*/
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
  }
  
  /* CSS para el dropdown */
.dropdown-categoria {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button-categoria {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .dropdown-button-categoria:hover {
    background-color: #cac2c2;
    transition: 150ms ease-in;
  }
  
  .dropdown-menu-categoria {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-item-categoria {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }