html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
}

.container-fluid {
  text-align: center; /* Alinea el contenido del contenedor al centro */
}

.formulario {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 20px;
  max-width: 400px; /* Limita el ancho máximo del formulario para un diseño más flexible */
}

.btn {
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 45px;
  cursor: pointer;
}

.form {
  width: 100%;
  margin-bottom: 10px;
  
}

.botonRegister {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
/* App.css */

.password-strength {
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.password-strength.red {
  background-color: red;
}

.password-strength.yellow {
  background-color: yellow;
}

.password-strength.green {
  background-color: green;
}
