@import '../../resets/resets';
@import '../../resets/variables';



@mixin gridColumn($columns) {    
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}


// Grid Container
.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    @include gridColumn(4);
    grid-template-rows: .5fr 2fr .3fr;
    font-family: $font-family;
    font-size: 16px;
    text-align: center;
}

