@import '/src/resets/resets';
@import '/src/resets/variables';

// Main Content
.main-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $seventh-color;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: .1fr 1fr 1fr;

    .section-title {
        display: flex;
        color: $secondary-color;
        font-family: poppins;
        text-align: left;
        margin-top: -3%;
        margin-left: -75%;
        grid-row-start: 0;
        grid-row-end: 1;

        .fa-chalkboard-user {
            margin-right: 15px;
            color: $secondary-color;
        }
    }

    .top-row-3 {
        margin-left: 5%;
        margin-top: 0%;
        width: 100vw;
        height: 50%;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-template-columns: 1fr .5fr; 
        align-items: center;
    }
      
    .bottom-row-3 {
        display: grid;
        grid-template-rows: .1fr 1fr;
        width: 90%;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 5%;

        .section-subtitle {
            color: rgb(31, 25, 25);
            font-family: poppins;
            text-align: left;
            margin-left: 2%;
            margin-bottom: 3%;
        }
    }
      
}

@media screen and (max-width: 992px) {
  .top-row-3,
  .bottom-row-3 {
      flex-direction: column;
  }
}