@import '../../../../resets/resets';
@import '../../../../resets/variables';

.search-container {
    text-align: center;
    font-family: $font-family;
}

.form-control {
    margin-top: 12%;
    width: 95%;
}

.bg-curso th {
    background-color: $quaternary-color;
    font-family: $font-family;
    color: #fff;
}

tbody td {
    cursor: pointer;
}