@import '../../../../resets/resets';
@import '../../../../resets/variables';

// Main Content
.main-home {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $seventh-color;
    width: 100vw;
    height: 120vh;
    display: grid;
    grid-template-rows: 1fr .4fr;
    background-image: url("/Logo C-Renca.png"); // Cambiar Logo
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}

Footer {
    margin-bottom: 0;
}


@media screen and (min-width: 1454px) {
    .main-home {
        margin-top: -1.2%;
    }
}

@media screen and (max-width: 1455px) {
    .main-home {
        margin-top: -1.2%;
    }
}

@media screen and (min-width: 1456px) {
    .main-home {
        margin-top: -1.2%;
    }
}