.column-6 {
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.content-container-6 {
    margin-left: 100px;
    margin-right: 200px;
    padding: 20px 80px 10px 80px;
    text-align: center;
    background-color: #F59F30;
    border-radius: 20px;
    width: 70%;
    height: 55%;
}

.content-container-6 button {
    padding: 5px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 10px;
}


.content-container-6 button:hover {
    background-color: #E95929;
    color: white;
    transform: scale(1.01);
}

@media screen and (max-width: 768px) {
    .content-container-6 {
        margin-top: 50px; 
        margin-left: 10px; 
        margin-right: 10px; 
        padding: 10px;
    }
}