
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    max-width: none;
    width: calc(33.33% - 20px); /* Ancho calculado para tres tarjetas por fila */
    min-width: 250px; /* Ancho mínimo de la tarjeta */
    overflow: hidden; /* Ocultar el texto que exceda el tamaño de la tarjeta */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos cuando el texto se trunque */
}
.card p {
    overflow: hidden; /* Ocultar el texto que exceda el tamaño de la tarjeta */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos cuando el texto se trunque */
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: none;


}
.card a {
    box-shadow: none;
}
