
.card-image {
    height: 200px; 
    overflow: hidden;
    position: relative;
  }
  
  .card-image img {
    width: relative;
    height: auto; 
    border-radius: 8px 8px 0 0; 
    transition: transform 0.3s ease;
  
  .card:hover .card-image img {
    transform: scale(1.05); 
  }
  
  .card-content {
    padding: 20px;
    background-color: var(--body-color);
  }
  
  .card-title {
    margin-top: 0; 
    margin-bottom: 10px; 
    font-size: 24px;
    color: #333; 
  }
  
  .card-text {
    color: #666; 
    line-height: 1.6; 
  }
  
  .card-date {
    margin-top: 20px; 
    color:  #D75E24; 
  }
  
   
  .column-1,
  .column-2 {
     width: 100%; 
     height: auto;
   }
 }

 .column-1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
  }
  
  .column-2 {
    flex: 1;
    text-align: left;
    height: 400px;
    padding-top: 80px;
  }

  .column-1 img {
    width: 400px; 
    height: auto;
    border: 20px solid rgb(6, 114, 238); 

  }

  @media screen and (max-width: 992px) {
    .card {
      max-width: 100%; 
    }
  
    .column-1 img {
      width: 100%; 
      border: 10px solid rgb(6, 114, 238); 
    }

    .column-2 {
      height: auto; 
      padding-top: 40px; 
      margin: 30px;
  }
}

  @media screen and (max-width: 768px) {
    .card {
      max-width: 100%; 
    }
  
    .column-1 img {
      width: 100%; 
      border: 10px solid rgb(6, 114, 238); 
    }

    .column-2 {
      height: auto; 
      padding-top: 40px; 
      margin: 30px;
    }
  }