/* Estilo para el contenedor del popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 80%;
  }
  
  /* Estilo para el contenido del popup */
  .popup-content {
    text-align: center;
    margin-bottom: 20px;

  }
  
  /* Estilo para el botón de cerrar */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
  }
  
  /* Estilo para el botón de enviar dentro del formulario */
  .popup button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup button[type="submit"]:hover {
    background-color: #0056b3;
  }

