// Variables
$primary-color: #E95929;
$secondary-color: #F59F30;
$tertiary-color: #C8D300;
$quaternary-color: #009A88;
$quinary-color: #60BDB1;
$senary-color: #0492D0;
$seventh-color: #F9F6EE;
$text-color: #fff;
$font-size: 16px;
$font-family: 'Poppins', sans-serif;
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$main-radius: 5px;
$main-padding: 5px;
$transformation: scale(1.2);