/*Contenedor general*/
.mc-container {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 200vh;
}

/* Titulo Modificar Ruta */
.tituloFormularioSubida {
    color: hsl(172, 41%, 56%);
    font-family: poppins;
    text-align: left;
    margin-top: 30px;
    margin-left: 0%;
    margin-bottom: 20px;
}

/* Contenedor Formulario */
.contenedorFormulario {
    margin-top: -140px; /* Ajusta el margen superior */
    padding: 20px; /* Agrega relleno al contenedor */
    position: relative;
    z-index: 1; /* Asegura que el contenedorFormulario esté por debajo del h2 */
    background-color: rgb(222, 219, 219);
    border-radius: 10px;
    width: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.contenedorFormulario * {
    max-width: 100%; /* Ancho máximo del 100% */
}

/* Estilos para el título dentro de contenedorFormulario */
.contenedorFormulario .tituloFormularioSubida {
    color: hsl(172, 41%, 56%);
    font-family: poppins;
    text-align: left;
    margin-top: 3%;
    margin-left: 0%;
    margin-bottom: 0%;
}

.contenedorFormulario .descripcionFormulario,
.contenedorFormulario .seleccionaRuta,
.contenedorFormulario .buttonForm {
    margin-top: 20px; /* Espacio entre los elementos */
    color: white;
}

/* Descripción */
.descripcionFormulario {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    background-color: rgb(222, 219, 219);

}

/*Boton selecciona una ruta*/
.seleccionaRuta {
    background-color: hsl(172, 41%, 56%);
    width: 280px;
    text-align: left;
    color: #ffff;
    font-family: poppins;
    border-radius: 10px;
    margin: 30px 100px 100px 50px;
    padding: 15px;
    
}

.textoFormulario {
    margin-bottom: 20px;
    font-family: poppins;
} 

.descripcionFormulario h2{
    margin-bottom: 25px;
}

.tablaFormulario {
    margin-right: 200px;
    margin-top: -100px;
}

/*Boton seleccionar archivo*/
.buttonForm {
    background-color: #61bdb1;
    width: 280px;
    text-align: left;
    color: #ffff;
    font-family: poppins;
    border-radius: 10px;
    margin-right: 50px;
 
}

.buttonForm:hover {
    background-color: #ff6200;
}

.selectButtonFormulario {
    background-color: #61bdb1;
    width: 280px;
    height: 40px;
    text-align: left;
    color: #ffff;
    font-family: poppins;
    border-radius: 10px;
    margin-right: 50px;
    cursor: pointer;
}

.selectButtonFormulario:hover {
    background-color: #ff6200;
}

.labelFormulario {
    background-color: #ffff;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    width: 250px;
    text-align: left;
    border-radius: 10px;
}


/* Contenedor Modificar Cambios */
.PrevisualizacionFormulario { 
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 10%;
}

/*Botones*/

.buttonSubir,
.buttonEliminar {
    width: 20%;
    height: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 10px;
    color: #ffff;
    font-family: poppins;
    transition: 150ms ease-out;
}

/*Botón Guardar cambios*/
.buttonSubir {
    background-color: #61bdb1;
    margin-top: 1%;
}

.buttonSubir:hover {
    background-color: #ff6200;
    transform: scale(1.1);
}

/*Boton eliminar*/
.buttonEliminar {
    background-color: #ff6200;
    margin-top: 3%;
}

.buttonEliminar:hover {
    background-color: #af0e02;
    transform: scale(1.1);
}

.buttonSubir:hover,
.buttonEliminar:hover {
    transition: 150ms ease-in;
}

/*Boton volver*/
.btn {
    margin-bottom: 25px;
}


/* CSS para Miniatura */
.contenedorImagen {
    width: 160px;
    height: 160px;
    margin-top: 5%;
    border: 3px solid #60BDB1;
    background-color: rgb(232, 230, 230);
}  


/* Estilos para Cursos Disponibles */
.cursosDisponibles {
    overflow-x: auto; /* Permitir el desplazamiento horizontal */
    white-space: nowrap; /* No permitir que las cards se envuelvan a la siguiente línea */
}

.cardsContainer {
    display: flex;
    flex-wrap: nowrap; /* Impedir que las tarjetas se envuelvan a la siguiente línea */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    width: calc(33.33% - 20px); /* Ancho calculado para tres tarjetas por fila */
    min-width: 250px; /* Ancho mínimo de la tarjeta */
    overflow: hidden; /* Ocultar el texto que exceda el tamaño de la tarjeta */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos cuando el texto se trunque */
}

.input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: poppins;
    margin-bottom: 20px; /* Agregar margen inferior */
}

/*Resposividad*/
/* Ajustes generales para hacer el contenido más responsive */
@media screen and (max-width: 768px) {
    .mc-container {
        grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas más pequeñas */
        justify-content: center; /* Centrar los elementos */
        padding: 20px; /* Agregar relleno */
    }

    .contenedorFormulario {
        width: 100%; /* Ajustar al ancho completo */
        max-width: none; /* No establecer un ancho máximo */
        margin-top: 20px; /* Ajustar el margen superior */
    }

    .tituloFormularioSubida {
        margin-left: 0; /* Centrar el título */
        text-align: center; /* Centrar el texto */
        margin-bottom: 20px; /* Añadir espacio inferior */
    }

    .seleccionaRuta {
        width: 100%; /* Ajustar al ancho completo */
        margin: 20px 0; /* Ajustar los márgenes */
    }

    .buttonForm,
    .selectButtonFormulario {
        width: 100%; /* Ajustar al ancho completo */
        margin: 20px 0; /* Ajustar los márgenes */
    }

    .descripcionFormulario {
        margin: 10px 0; /* Ajustar los márgenes */
    }

    .PrevisualizacionFormulario {
        margin-top: 40px; /* Ajustar el margen superior */
    }

    .btn {
        margin-bottom: 20px; /* Ajustar el margen inferior */
    }

}
