body {
  background: linear-gradient(
    to right,
    #f56524 16.7%,
    #fca227 16.7% 33.4%,
    #cac600 33.4% 50.1%,
    #009A88 50.1% 66.8%,
    #58b3b0 66.8% 83.5%,
    #0088d4 83.5% 100%
  );
}

.titulo {
  text-align: center;
}

.logo {
  height: 50%;
  width: 50%;
}

.formulario {
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 10px;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%; /* Ajusta el ancho del formulario según tus necesidades */
  max-width: 800px; /* Establece un ancho máximo para evitar que se estire demasiado */
}

.btn {
  font-size: 14px;
  color: #000000;
  background-color: #ebebeb;
  padding: 10px 30px;
  border-radius: 45px;
  cursor: pointer;
}

.form {
  width: 100%;
  margin-bottom: 10px;
}

.botonRegister {
  width: 25%;
  margin-top: 10px;
  border-radius: 10px;
}
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -50px;
}
/* Media queries para ajustar estilos en pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  .formulario {
    padding: 10px;
  }
}
