@import '../../../resets/resets';
@import '../../../resets/variables';

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50%;
    margin-bottom: 4.7%;
}

#inputUser {
    width: 90%;
    height: 100%;
}

Button i {
    color: #fff;
}

#button-addon23 i:hover {
    color: #fff;
}

#button-addon23 {
    height: 5%;
    margin-top: 11.9%;
}

#button-addon23:hover {
    background-color: $primary-color;
}

