.left-side {
  background-color: #009A88;
  color: black;
  height: 100vh;
  margin: -8px;
  width: 50%;
}
.titulo{
    text-align: center;
}
  
.formulario {
  background-color: rgba(222, 205, 205, 0.5);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-inline: auto;
  margin-bottom: auto;
  border: 1px solid #0000002c;
}
.datos{
    width: 200px;
    height: 50px;
    margin-left:30%;
    margin-right:30% ;
    flex: 1;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.imagen2 {
    height:50% ;
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
}
.imagen1 {
    height: 50%;
    width: 50%;
    margin-left: 25%;
}
.logo{
    width: 40vw;
}
  .form {
    width: 100%; /* Ajuste del ancho del campo de entrada */
    margin-bottom: 10px;/* Espaciado entre campos de entrada */
  }
  
  .botonRegister {
    width: 100%; /* Ajuste del ancho del botón */
    margin-top: 10px; /* Espaciado entre campos de entrada y botón */
    border-radius: 10px;
  }
  
  /* Media queries para ajustar estilos en pantallas más pequeñas */
  @media only screen and (max-width: 768px) {
    .formulario {
      padding: 10px; /* Reducción del espacio interior */
    }
  }
  .container {
    display: flex; /* Utiliza flexbox para los elementos hijos */
  }
  @media only screen and (max-width: 480px) {
    .left-side {
      width: 100%; /* Ancho completo para ocupar toda la pantalla */
      margin: 0; /* Elimino el margen para ocupar todo el ancho */
      height: auto; /* Altura automática para ajustar contenido */
    }
  
    .formulario {
      width: 90%; /* Ancho del formulario para pantallas de teléfono */
      padding: 10px; /* Reducción del espacio interior */
    }
  
    .imagen2,
    .imagen1 {
      width: 100%; /* Ancho completo para pantallas de teléfono */
      max-width: none; /* Elimino el máximo ancho para pantallas de teléfono */
      margin: 10px auto; /* Centro las imágenes horizontalmente */
    }
  
    .logo {
      width: 90%; /* Ancho del logo para pantallas de teléfono */
      max-width: none; /* Elimino el máximo ancho para pantallas de teléfono */
    }
  
    .datos {
      width: 90%; /* Ancho del contenedor de datos para pantallas de teléfono */
      max-width: none; /* Elimino el máximo ancho para pantallas de teléfono */
      margin: 10px 0; /* Espaciado vertical */
    }
  }
  