/*Estilos formulario*/

/* Contenedor Principal */
.categoria-container {
    display: grid;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* Titulo N°1 */
.tituloFormSubida{
    color: hsl(172, 41%, 56%);
    font-family: poppins;
    text-align: left;
    margin-top: 3%;
    margin-left: 2%;
}

/* Contenedor Formulario  */
.contenedorForm {
    margin-top: -100px;
    margin-bottom: 50px;
    width: 90vw;
    height: 70vh;
    background-color: rgb(222, 219, 219);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
}

/* Descripción */
.descripcionForm {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    width: 100%;
    margin-left: 14%;
}

.textoForm {
    margin-bottom: 20px;
    font-family: poppins;
}

.tablaForm {
    margin-right: 200px;
    margin-top: -100px;
}

.buttonForm {
    background-color: hsl(172, 41%, 56%);
    width: 280px;
    text-align: left;
    color: #fff;
    font-family: poppins;
    border-radius: 10px;
    margin-right: 50px;
}

.selectButtonForm {
    background-color: hsl(172, 41%, 56%);
    width: 280px;
    height: 40px;
    text-align: left;
    color: #ffff;
    font-family: poppins;
    border-radius: 10px;
    margin-right: 50px;
    cursor: pointer;
}

.selectButtonForm:hover {
    background-color: #F59F30;
}

.buttonForm p {
    color: #ffff;
    font-family: poppins;
}

.buttonForm:hover {
    background-color: #F59F30;
}

.labelForm {
    background-color: #ffff;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    width: 250px;
    text-align: left;
    border-radius: 10px;
}

.inputForm {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: poppins;
}


/* Contenedor Subir Categoría */
.PrevisualizacionForm {
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 10%;
}

.PrevisualizacionForm h3 {
    margin-top: 2%;
}

.buttonUp {
    background-color: hsl(172, 41%, 56%);
    width: 20%;
    height: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 10px;
    font-family: poppins;
    margin-top: 1%;
    transition: 150ms ease-out;
}

.buttonUp span {
    color: #fff;
}

.buttonUp:hover {
    background-color: #C8D300;
    transform: scale(1.1);
    transition: 150ms ease-in;
}

/* CSS para Miniatura */
.contenedorImg{
    width: 160px;
    height: 160px;
    margin-top: 5%;
    border: 3px solid #60BDB1;
    background-color: rgb(232, 230, 230);
}