/*Toda la seccion debajo del titulo*/
.grupo-1 {
    max-width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 100px;
    background-color: #f7f7f7;
}

/*Zona izquierda*/
#dropZ {
    margin-top: 100px;
}

/*nube*/
.custom-icon {
    font-size: 100px;
    color:#60BDB1;
}

/*botones de seleccionar archivo*/
.selectFile label {
    display: block; 
    background-color: #60BDB1; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
}

.selectFile input[type="file"] {
    display: none; /* Ocultar el input de tipo file */
}

.selectFile {
    margin-bottom: 20px; 
}